table, th, td{
    border: 1px solid;
    border-collapse: collapse;
}

table {
    width: 100%;
}

td {
    height: 50px;
}
th {
    background: slategrey;
    height: 40px;
}
.load_buttons{
    background: lightgray;
    box-shadow: lightblue;
    border: slategrey;
}

.buttons {
    text-align: right;
}

.load_buttons {
    border: 1px black;
}