<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if listOfEmails %}
    <table>
        <tr>
            <th>Email</th>
            <th>Subject</th>
            <th>attachments</th>
            <th>actions</th>
            <th></th>
        </tr>
        {% for email in listOfEmails %}
            <tr>
                <td>{{ email.email }}</td>
                <td>{{ email.subject }}</td>
                <td>{{ email.path }}</td>
                <td>
                    <form action="/emails" enctype="multipart/form-data" method="POST">
                        <input type="hidden" name="path" value="{{ email.path}} ">
                        <button type="submit">🖨️</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2>no emails</h2>
{% endif %}

<form method="post" action="/generateEmails">
    <button type="submit">generateEmails</button>
</form>

</body>
</html>